.landing-page{
  background-color: var(--primary-background-color);
  height: 100vh;
  width: 100%;
}
.nav-wrapper{
  padding: 20px;
  height: 30vh;
  width: 100%;
}
.nav-wrapper span img{
  height: 100px;
  position: fixed;
}
.nav-wrapper h1{
  text-align: center;
  color: var(--primary-font-color);
  font-family: var(--text-font-family);
  letter-spacing: 1.5px;
  word-spacing: 2px;
  font-size: 56px;
  font-weight: 500;
  margin-top: 25%;
}
.hero-wrapper{
  min-height: 70vh;
  background-color: var(--secondary-background-color);
  border-radius: 40px 40px 0 0;
  padding: 10px 10px 10px 10px;
}
.horizontal-scroll{
  display: flex;
  overflow-x: scroll;
  margin: 0 10px;
  padding: 30px 0 30px 0;
}
.horizontal-scroll span{
  border-radius: 4px;
  background-color: var(--primary-background-color);
  min-width: 30vw;
  text-align: center;
  margin: 0 10px 0 10px;
  font-family: var(--primary-font-color);
  font-size: 24px;
  height: 70px;
  line-height: 70px;
}
.horizontal-scroll ul{
  display: flex;
}
.horizontal-scroll ul li{
  line-height: 70px;
  font-family: var(--primary-font-color);
  font-size: 24px;
  margin: 0 0 0 7px;
  text-align: center;
  min-width: 45vw;
  height: 70px;
  border-radius: 4px;
  background-color: var(--card-background-color);
}

.card-wrapper{
  background-color: var(--other-background-color);
  min-height: 100vw;
  padding: 10px;
  margin: 10px -10px 0 -10px;
}

.job-card{
  min-height: 33%;
  background-color: var(--card-background-color);
  padding: 30px 10px 30px 10px;
  margin: 0 20px;
  border-radius: 4px;
}

.company{
  display: flex;
  align-items: center;
}
.company img{
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}
.company-name{
  font-weight: 500;
  font-size: 26px;
  font-family: var(--text-font-family);
  margin-left: 10px;
  border-right: 1px solid #222;
  flex: 0.5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.date-posted{
  font-family: var(--text-font-family);
  font-size: 22px;
  font-weight: 100;
  flex: 1;
}
.job-tile{
  display: flex;
  align-items: center;
  justify-content: center;
}
.job-title{
  font-size: 28px;
  font-weight: 400;
  font-family: var(--text-font-family);
}

.apply{
  background-color: var(--primary-background-color);
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  font-family: var(--text-font-family);
  font-weight: 500;
  font-size: 30px;
}